<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqT6tZJ04J4oSg9DrmJExf8ERxitc-HgY</string>
	<key>GCM_SENDER_ID</key>
	<string>29182770510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.backgroundService</string>
	<key>PROJECT_ID</key>
	<string>test-realtime-app-ba4c7</string>
	<key>STORAGE_BUCKET</key>
	<string>test-realtime-app-ba4c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29182770510:ios:a9b15df087beb934bc321f</string>
	<key>DATABASE_URL</key>
	<string>https://test-realtime-app-ba4c7-default-rtdb.firebaseio.com</string>
</dict>
</plist>